.node_container {
  margin-left: 15px;
  cursor: pointer;
}

.node_container:before {
  font-weight: 900;
  content: "⯆";
  font-size: 13px;
  padding-right: 5px;
}

.node_container.closed:before {
  font-weight: 900;
  content: "⯈";
}

.node_container.closed > .children {
  display: none;
}